## [58. BBDD IV](https://youtu.be/m_FzVf9JTV8)
+ Cláusula UNIQUE
+ Operaciones CRUD
  + Create
  + Read
  + Update
  + Delete

In [ ]:
# CREATE

import sqlite3 as sq

miConexion = sq.connect("Recursos/GestionProductos2.sqlite")
miCursor = miConexion.cursor()

try:
    # usamos la cláusula UNIQUE en NOMBRE_ARTICULO para que no permita crear duplicados
    miCursor.execute('''
        CREATE TABLE PRODUCTOS (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        NOMBRE_ARTICULO VARCHAR(50) UNIQUE,
        PRECIO INTEGER,
        SECCION VARCHAR(20))
    ''') 
except sq.OperationalError:
    print("la base ya estaba creada")

productos = [
    ("castillo", 20, "jugetería"),
    ("camisa", 15, "confección"),
    ("tornillos", 25, "ferretería"),
    ("tazas", 45, "cerámica")
]

miCursor.executemany("INSERT INTO PRODUCTOS VALUES (NULL,?,?,?)", productos) 



miConexion.commit()
miConexion.close()

In [8]:
# READ

import sqlite3 as sq

miConexion = sq.connect("Recursos/GestionProductos2.sqlite")
miCursor = miConexion.cursor()

try:
    miCursor.execute('''
        CREATE TABLE PRODUCTOS (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        NOMBRE_ARTICULO VARCHAR(50) UNIQUE,
        PRECIO INTEGER,
        SECCION VARCHAR(20))
    ''') 
except sq.OperationalError:
    print("la base ya estaba creada")



miCursor.execute("SELECT * FROM PRODUCTOS WHERE SECCION = 'confección'") 

productos = miCursor.fetchall()


for i in productos:
    print (i[1], i[2], "€")

miConexion.commit()
miConexion.close()

la base ya estaba creada
pantalón 15 €
camisa 15 €
camisa 15 €

In [15]:
# UPDATE

import sqlite3 as sq

miConexion = sq.connect("Recursos/GestionProductos2.sqlite")
miCursor = miConexion.cursor()

miCursor.execute("UPDATE PRODUCTOS SET PRECIO = 35 WHERE NOMBRE_ARTICULO = 'pelota'") # asignamos el precio de '35' al artículo 'pelota'

miCursor.execute("SELECT * FROM PRODUCTOS WHERE NOMBRE_ARTICULO = 'pelota'") 
productos = miCursor.fetchall()
for i in productos:
    print (i[1], i[2], "€")

miConexion.commit()
miConexion.close()

pelota 35 €

In [14]:
# DELETE

import sqlite3 as sq

miConexion = sq.connect("Recursos/GestionProductos2.sqlite")
miCursor = miConexion.cursor()

miCursor.execute("DELETE FROM PRODUCTOS WHERE ID = 9") # eliminamos el artículo con ID 9

miCursor.execute("SELECT * FROM PRODUCTOS")
productos = miCursor.fetchall()
for i in productos:
    print(i[0], i[1])

miConexion.commit()
miConexion.close()

1 pelota
2 pantalón
3 destornillador
4 jarón
5 castillo
6 camisa
7 tornillos
8 tazas